# Ignore compiled files
*.o
*.out
*.exe

# Ignore log files
*.log

# Ignore package files
*.tar.gz
*.zip

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python virtual environment
.env
.venv

# ignore folders
data/csv
data/xlsx

# ignore files
data/csv/*
data/xlsx/*
data/*.csv
data/*.xlsx
```
